<!DOCTYPE html>
<html>
<head>
  <title>app-rails</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= webpack_css_tag 'main.css' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>

  <%= webpack_manifest_script %>
  <%= javascript_include_tag 'modernizr' %>
  <%= webpack_js_tag 'main.js' %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
